body {
  background-color: black;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.link {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

 .headings {
   font-family: Verdana;
   font-weight: 300;
   font-size: 42px;
   color: white;
   text-align-last: center;
 }

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
  }

.video {
    text-align: center;
  }

.pictures {
    justify-content: center;
  }
